@font-face {
	font-family: Familjen Grotesk;
	src: url(/Fonts/Familjen_Grotesk/static/FamiljenGrotesk-Regular.ttf);
}

@font-face {
	font-family: Teko;
	src: url(/Fonts/Teko/Teko-Regular.ttf);
}

body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

}

/* Formulär*/

.box {
	text-align: center;
}

.button {
	color: #32797C;
	font-size: 18px;
	padding: 10px 30px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	border-radius: 10px;
	background-color: #B8DCDE;
	border: 2px solid #32797C;
	box-shadow: 0.1em 0.2em 0.2em #32797C;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: #32797C;
	border-radius: 10px;
	width: 80vw;
	position: relative;
	transition: all 2s ease-in-out;
}
.wrapper span {
	margin-top: 0;
	color: white;
	text-align: center;
}

.wrapper .close {
	position: absolute;
	top: 1px;
	right: 20px;
	transition: all 200ms;
	font-size: 32px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

.wrapper .content {
	max-height: 30%;
	overflow: auto;
}

.container-label {
	border-radius: 10px;
	background-color: #32797C;
	padding: 20px 0;
}

form label{
	font-weight: 500;
	letter-spacing: 3px;

}

input[type=text] {
	width: 80%;
	padding: 12px;
	border: 1px solid #00C2CB;
	border-radius: 10px;
}

button {
	background-color: #B8DCDE;
	border: #32797C 2px solid;
	color: #32797C;
	font-weight: bold;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-left: 6em;
	margin-top: 1em;

}

/* Header */


header {
	background-color: black;
	max-width: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 0.2em;
}

header img {
	height: 15vh;
}

@media (min-width: 554px){
	header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-right: 2em;

	}
}

nav {
	text-align: center;
	font-size: 30px;
	font-family: 'teko', sans-serif;
	font-weight: bold;
}

nav a:hover {
	color: black;
}

nav a {
	text-decoration: none;
	padding: 0.5em;
	padding-bottom: 0;
	
}

.lightblue {
	color: #5CE1E6;
}


.bluegreen {
	color: #00C2CB;
}

.blue {
	color: #38B6FF;
}

.lightgreen {
	color: #7ED957;
}
/* main content */

main {
	background-image: url(/imgs/code.png);
	background-size: cover;
	padding-bottom: 2em;
	padding-top: 2em;
	font-family: 'familjen grotesk';
}

/* Event program */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	margin: 1em;
}

.container p {
	font-size: 20px;
	color: black;
	text-align: center;
	padding: 1em;
	margin: 0;
}

.container h1 {
	margin: 0;
	font-size: 40px;
	text-align: center;
	font-family: 'teko', sans-serif;
}

.container h2 {
	font-size: 28px;
	text-align: center;
	margin:0;
}

.container h3 {
	margin: 0px;
	padding-top: 1em;
	font-size: 24px;
	text-align: center;
}

.container-day > * {
	background-color: #B8DCDE;
	border:#32797C 2px solid;
	border-radius: 10px;
	padding: 1em;
	color:#32797C;
}

@media (min-width: 800px){

	.container-day {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto auto;
	}

	.container-day > * {
		max-width: 20em;
		min-height: 5em;
	}



}

h4 {
	text-align: center;
	font-size: 24px;
	margin: 0px;
}

.pricecontainer {
	border: 2px solid #32797C;
	border-radius: 10px;
	padding: 1em;
	background-color: #B8DCDE;
}

.pricecontainer p {
	text-align: left;
	padding: 0.5;
	padding-left: 0;
}

p.pricecontainer__text {
	font-size: 16px;
	padding: 0px;
}


/* Formulär*/

.box {
	text-align: center;
}

.button {
	color: #32797C;
	font-size: 18px;
	padding: 10px 30px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	border-radius: 10px;
	background-color: #B8DCDE;
	border: 2px solid #32797C;
	box-shadow: 0.1em 0.2em 0.2em #32797C;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: #32797C;
	border-radius: 10px;
	width: 80vw;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapper span {
	margin-top: 0;
	color: white;
	text-align: center;
}

.wrapper .close {
	position: absolute;
	top: 1px;
	right: 20px;
	transition: all 200ms;
	font-size: 32px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

.wrapper .content {
	max-height: 30%;
	overflow: auto;
}

.container-label {
	border-radius: 10px;
	background-color: #32797C;
	padding: 20px 0;
}

form label{
	font-weight: 500;
	letter-spacing: 3px;

}

input[type=text] {
	width: 80%;
	padding: 12px;
	border: 1px solid #00C2CB;
	border-radius: 10px;
}

button {
	background-color: #B8DCDE;
	color: #32797C;
	font-weight: bold;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-left: 6em;
	margin-top: 1em;
	box-shadow: 0.1em 0.2em 0.2em #B8DCDE;

}

button:hover {
	background-color: #9bd7db;
}

/* Footer*/

footer {
	background-color: #32797C;
	width: 100%;
	color: white;
	font-family: 'familjen grotesk' ,sans-serif;
	position: relative;
	bottom: 0px;
	margin: 0px;
	box-sizing: border-box;
	float:left;
	overflow: hidden;
	padding:0px;
	padding-right: 2em;
}

#footer-content > * {
	margin:0px;
}

#footer-content {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	padding: 1em;
	padding-right: 0px;
}

#footer-content p {
	font-size: 18px;
}


.footer-group1 {
	grid-column: 1 / span 2;
	grid-row: 3;
	margin: 0px;
}

.footer-group1 p {
	font-size: 16px;
	padding-right: 1em;
}


.footer-group3 {
	grid-column: 3;
	grid-row: 1;
	padding-bottom: 2em;
}

.footer-group3 a, .footer-group3 ul {
	text-decoration: none;
	list-style-type: none;
	color: white;
	text-align: right;
	margin: 0px;
	padding-left: 0;
}

.back-top {
	color: white;
	text-align: center;
	text-decoration: none;
	grid-column: 2;
	grid-row: 4;
}

footer img {
	width: 115px;
	grid-column: 1;
}

.line1, .line2 {
	width: 7em;
	height: 0;
	border: 1.5px solid white;
	background-color: white;
	margin: 0px;
	display: inline-block;
}

.footer-group4 {
	font-size: 18px;
	grid-column: 3;
	grid-row: 3;
	text-align: right;
}
