

@font-face {
	font-family: Familjen Grotesk;
	src: url(/Fonts/Familjen_Grotesk/FamiljenGrotesk-VariableFont_wght.ttf);
}

@font-face {
	font-family: Teko;
	src: url(/Fonts/Teko/Teko-Regular.ttf);
}

body {
 padding: 0;
 margin: 0;
}

header {
	background-color: black;
	min-height: 20vh;
	width: 100%;
	border-bottom: 2px solid #00C2CB;
	display: flex; 
	flex-flow: wrap;
	align-items: flex-end;
	justify-content: space-between;
}

header img {
	height: 15vh;
	padding-top: 1em;
	padding-left: 3em;
	padding-bottom: 1em;
}


nav {
	align-self: flex-end;
	padding-right: 2em;
	padding-bottom: 0.3em;
	font-family: 'Familjen_grotesk', sans-serif;
	font-weight: bold;
}

nav a {
	text-decoration: none;
	padding: 1em;
}

.lightblue {
	color: #5CE1E6;
}

.bluegreen {
	color: #00C2CB;
}

.blue {
	color: #38B6FF;
}

main {
	padding-top: 2em;
}

.head1 {
	margin-bottom: 2em;
	width: 30vw;
	height: 5em;
	display: flex;
	color: #38B6FF;
	padding-left: 2em;
	font-family: 'Familjen grotesk', sans-serif;
	box-shadow: 0.1em 0.2em 0.2em rgb(175, 175, 175);
}

.head1-green {
	color: #7ED957;
}

.green_background {
	background-color: #32797C;
	width: 100%;
	height: 60vh;
	display: flex;
	flex-direction: column;
	text-align: left;
	overflow: hidden;
	position: relative;
	margin-bottom: 2em;

}

.green_background_text1 {
	color: white;
	font-family: 'Familjen Grotesk', sans-serif;
	font-size: 24px;
	padding: 2em 10em 0em 8em;
	line-height: 1.5em;
}

.green_background img {
	position: absolute;
	right: -15em;
	top: 10em;
	height: 60vh;
	opacity: 0.5;
}

.green_background_text2 {
	color: white;
	font-family: 'Familjen Grotesk', sans-serif;
	position: absolute;
	bottom: 0.5em;
	padding-left: 2em;

}



.img-code {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family:'familjen grotesk', sans-serif;
	font-size: 20px;
}

.img-code img {
	width: 80vw;
	height: 60vh;
	border: 2px solid black;
	position: absolute;
	z-index: -1;	
	opacity: 0.5;
}

h2, h3, p {
	margin: 0px;
	padding: 0.1em;
	
}

h2 {
	padding-top: 2em;
	font-weight: bold;
}

.img-code-text-2 {
	padding: 1em;
	width: 50vw;
}

button {
	padding: 1em;
	opacity: 0.6;
	border-radius: 10px;
	font-family: 'familjen grotesk', sans-serif;
}

.container-qoutes {
	margin-top: 18em;
	padding: 0em 10em 0em 10em;
	font-family: 'familjen grotesk', sans-serif;
	background-color: white;
	max-width: 100vw;
	height: 60vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	position:relative;
	overflow: hidden;
}

.container-qoutes-jakob {
	grid-column: 3;
	grid-row: 1;
	color:#32797C;
	text-align: center;
}

.container-qoutes-therese {
	grid-column: 2;
	grid-row: 2;
	color:#32797C;
	text-align: center;
}

.container-qoutes-johanna {
	grid-column: 1;
	grid-row: 1;
	text-align: center;
	color:#32797C;
}

.name-johanna {
	grid-column: 1;
	grid-row: 1;
	text-align: right;
	position: relative;
	top: 3.5em;
}

.name-therese {
	text-align: right;
	grid-row: 3;
	grid-column: 2;
	position:relative;
	bottom: 6em;
}

.name-jakob {
	text-align: right;
	grid-row: 2;
	grid-column: 3;
	position: relative;
	bottom: 7em;
}

.container-qoutes img {
	position: absolute;
	right: -15em;
	bottom: -8em;
	height: 60vh;
	opacity: 0.5;
}

.head2 {
	margin-bottom: 2em;
	width: 30vw;
	height: 5em;
	display: flex;
	color: #38B6FF;
	padding-left: 2em;
	font-family: 'Familjen grotesk', sans-serif;
	box-shadow: 0.1em 0.2em 0.2em rgb(175, 175, 175);
}

 .green {
	color: #7ED957;
}

.container {
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	font-family: 'familjen grotesk', sans-serif;
}

.container-begin-code {
	background-color:#32797C;
	text-align: center;
	width: 20vw;
	height: 40vh;
	border-radius: 10px;
	box-shadow: 0.1em 0.2em 0.2em rgb(175, 175, 175);
	font-family: 'familjen grotesk', sans-serif;
	color:white;
	grid-column: 1;
	position: relative;
	align-self: flex-start;
	justify-self: end;

}

.container-christmas {
	background-color: #9A1212;
	text-align: center;
	padding-top: 2em;
	width: 12em;
	height: 14em;
	border-radius: 10px;
	color: white;
	box-shadow: 0.1em 0.2em 0.2em rgb(175, 175, 175);
	grid-column: 1;
	grid-row: 2;
	position: relative;
	justify-self: center;
	
}

.container-breakfast{
	background-color: #B8DCDE;
	border: solid 2px #32797C;
	border-radius: 10px;
	width: 40vw;
	height: 20vh;
	color:#32797C;
	box-shadow: 0.1em 0.2em 0.2em rgb(175, 175, 175);
	position: relative;
	align-self: end;
}

.container img {
	border-radius: 10px;
	opacity: 0.5;
	position: relative;
	justify-self: center;
}


